<?xml version='1.0' encoding='utf-8'?>
<widget id="at.mquiz.app" version="1.1.2" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>MusikQuiz</name>
    <description>
        Die coolste Zeichen App der Welt!
        Speichere deine Bilder lokal am Gerät.
    </description>
    <author email="vincenza@wifi-it.at" href="http://wifiwien.at">
        Webdevoloper Javascript WIFIWien
    </author>
    <content src="index.html" />
    <preference name="DisallowOverscroll" value="true" />
    <preference name="android-minSdkVersion" value="14" />

    

    <platform name="android">
        <icon density="ldpi" src="www/icon.png" />
        <splash density="land-ldpi" src="www/icon.png" />
    </platform>

</widget>
