* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-align: center;
}


body::after {
    content: "";
    background: url("../Background1.png");
    background-size: cover;
    opacity: 0.3;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;   
  }

#logo {
    margin-top: 120px;
 }
 #btn-submit {
     display: flex;
  align-items: center;
  justify-content: center;
  background: red;
  color: white;
  border: none;
 }

 #password, #username, #btn-submit{
    width: 275px; ;
    height: 28px;
     margin-top: 5px;
     margin: auto;
     margin-top: 5px;
 }

 .hide {
     display: none;
 }

.kat {
    width: 150px;
    height: 125px;
    background-color: red;
    color: white;
    margin: 5px;
    border: none;
}

button:hover {
    background-color: rgb(255, 136, 0);
    text-decoration:  none;
}
button {
    margin: 5px;
}


.navbar {
    background-color: rgb(29, 34, 34);
    
}
h3 {
    margin-top:75px;
    margin-bottom: 25px;
}
#selectCat input[type=radio] {
    display: none;
}
#selectCat input[type=radio] + label {
    display: inline-block;
    width: 150px;
    height: 125px;
    line-height: 125px;
    background-color: red;
    color: white;
}
#selectCat input[type=radio]:checked + label {
    background-color: orange;
}
#antworten > input[type=radio] {
    display: none;
}
#antworten >  label.antworten {
    display: block;
    margin: 5px;
    background-color: lightblue;
    color: rgb(51, 51, 51);
    height: 38px;
    line-height: 38px;
    border: none;
    border-radius: 5px;
}

#antworten input[type=radio]:checked + label{
    background-color: darkblue;
    color: white;
}

.richtig{
    background-color: green;
    color: white;
}

.falsch{
    background-color: green;
    color: white;
}

.progress {
    position: relative;
    width: 300px;
    margin: auto;
}

.progress-bar {
   background-color: red;
   width: 100%;
}


 

  

  